.appbar {
  position: sticky;
  padding: 14px 0;
  top: 0;
  z-index: 1000;
  background-color: var(--light-green);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  padding: 14px 0;
  align-items: center;
  width: 165px;
  height: 46px;
  cursor: pointer;
}

.logo__icon {
  width: 149px;
  height: 36px;
  fill: var(--green);
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger {
  width: 24px;
  height: 24px;
  position: relative;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--green-darker);
  border-radius: 1px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* === Burger Animation  === */
.burger.open .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger.open .line:nth-child(2) {
  opacity: 0;
}

.burger.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile__only {
  display: flex;
}

/* === Responsive === */
@media screen and (min-width: 768px) {
  .nav {
    display: none;
  }

  .mobile__only {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    display: flex;
  }

  .actions,
  .mobile__only {
    display: none;
  }
}
