.PopularArticles {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 100%;
  margin-bottom: 72px;
}

.content {
  width: 1224px;
}

.firstpart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--black);
  margin-bottom: 16px;
}

.link {
  display: inline-flex;
  align-items: flex-end;
  gap: 12px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--green-darker);
  margin-bottom: 16px;
}

.icon {
  width: 1em;
  height: 1em;
  stroke: var(--green-darker);
  fill: var(--green-darker);
  display: inline-block;
}

.articlesGrid {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .PopularArticles {
    width: 768px;
  }

  .content {
    width: 704px;
  }

  .title {
    font-size: 32px;
  }

  .link {
    font-size: 16px;
  }

  .icon {
    width: 1em;
    height: 1em;
    stroke: var(--green-darker);
    fill: var(--green-darker);
    display: inline-block;
  }

  .articlesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media (min-width: 393px) and (max-width: 767px) {
  .PopularArticles {
    width: 393px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .content {
    width: 361px;
  }

  .firstpart {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 16px;
  }

  .link {
    font-size: 16px;
  }
}

@media (max-width: 392px) {
  .PopularArticles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .title {
    margin-bottom: 16px;
  }

  .link {
    font-size: 16px;
  }

  .firstpart {
    flex-direction: column;
    align-items: flex-start;
  }
}
