.profileList {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.imgProfile {
  border-radius: 256px;
  width: 137px;
  height: 137px;
}

.userName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--black);
  margin-bottom: 4px;
}

.countArticles {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
}
