.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 72px;
}

.hero > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  width: 100%;
  max-width: 361px;
}

.title {
  font-family: var(--font-family);
  margin-bottom: 30px;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.02em;
  line-height: normal;
  color: var(--green-darker);
  max-width: 361px;
}

.italic {
  font-family: var(--fourth-family);
  font-style: italic;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.buttons .primary,
.buttons .secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  padding: 16px;
  width: 361px;
  height: 57px;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.buttons .primary {
  background-color: var(--green);
  color: var(--white);
}

.buttons .secondary {
  border: 2px solid var(--green);
  color: var(--green);
}

.buttons .primary:hover,
.buttons .primary:focus {
  background-color: var(--green-darker);
}

.buttons .secondary:hover {
  border-color: var(--green-darker);
  color: var(--green-darker);
}

.buttons .primary,
.buttons .secondary {
  border-radius: 64px;
  padding: 16px;
  max-width: 361px;
  height: 57px;
}

.image {
  position: static;
  width: 361px;
  height: 321px;
  background-image: url('/img/Union-m-1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

@media screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) {
  .advertisement-card {
    background-image: url('/img/Union-m-2x.png');
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 427px;
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .hero > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 383px;
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
    max-width: 372px;
  }

  .buttons {
    position: static;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .buttons .primary,
  .buttons .secondary {
    padding: 16px;
    width: 249px;
  }

  .image {
    position: absolute;
    top: 0;
    right: 32px;
    width: 430px;
    height: 383px;
    background-image: url('/img/Union-t-1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) {
    .advertisement-card {
      background-image: url('/img/Union-t-2x.png');
    }
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 610px;
    padding-top: 48px;
    padding-bottom: 0;
    position: relative;
    margin-bottom: 72px;
  }

  .hero > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
  }

  .content {
    z-index: 2;
    max-width: 599px;
    padding-top: 0;
    height: auto;
  }

  .title {
    font-weight: 800;
    font-size: 92px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 56px;
    max-width: 599px;
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 392px;
  }

  .buttons .primary,
  .buttons .secondary {
    padding: 16px;
    width: 184px;
    height: 57px;
  }

  .image {
    position: absolute;
    top: 0;
    right: 108px;
    width: 805px;
    min-width: 805px;
    height: 562px;
    background-image: url('/img/Union-d-1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    margin: 0;
  }

  @media screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) {
    .advertisement-card {
      background-image: url('/img/Union-d-2x.png');
    }
  }
}
