.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.show {
  opacity: 1;
  visibility: visible;
}

/* ========== Modal-Container mit Animationen ========== */
@keyframes slideDown {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  animation: slideUp 0.3s ease forwards;
}

.visible {
  animation: slideDown 0.3s ease forwards;
}

/* ========== Modal-Inhalt ========== */
.modal__content {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 0;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  margin-bottom: 32px;
}

/* ========== Bottom Section ========== */
.bottom__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 32px;
}

.user__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.user__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.auth__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.link {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: var(--green-darker);
  transition: color 0.3s ease;

  &.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1.33px;
    width: 100%;
    background-color: var(--green-darker);
  }
  &:hover {
    color: var(--green);
  }
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  border-radius: 64px;
  padding: 12px 16px;
  background-color: var(--green);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--green-darker);
    color: var(--white);
  }
}

/* ========== Responsive Anpassungen ========== */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .overlay {
    display: none;
  }
}
