/* .container {
  min-height: 100vh;
  padding: 40px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green);
}

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-green);
} */
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-green);
  padding: 48px 24px;
  border-radius: 32px;
  max-width: 342px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  transition: box-shadow var(--transition), transform var(--transition);
  grid-column: 2 / span 2;
  /* Видалили margin: auto! */
}

@media screen and (min-width: 768px) {
  .formWrapper {
    grid-column: 3 / span 4;
  }
}

@media screen and (min-width: 1440px) {
  .formWrapper {
    grid-column: 5 / span 4;
  }
}
