.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  padding: 16px;
}

.modal {
  position: relative;
  max-width: 361px;
  height: auto;
  background-color: var(--light-green);
  border-radius: 32px;
  padding: 56px 32px 32px 32px;
  display: flex;
  flex-direction: column;

  animation: fadeIn 0.3s ease;
}

.btn__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.btn__icon {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  stroke: var(--black);
  fill: var(--green-darker);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 420px;
    background-color: var(--light-green);
    border-radius: 32px;
    padding: 56px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    animation: fadeIn 0.3s ease;
  }
}
