.profileTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--black);
  margin-bottom: 16px;
}

.boxSelect {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countArticles {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
}

.formSelect {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
}
