:root {
  --green: #649179;
  --black: #070721;
  --light-green: #d1e0d8;
  --red: #ad6a6c;
  --purple: #7678ed;
  --white: #f7fffb;
  --green-darker: #374f42;
  --gray: #595d62;
  --light-gray: #9f9f9f;
  --font-family: 'Manrope', sans-serif;
  --second-family: 'DM Sans', sans-serif;
  --third-family: 'Noto Sans', sans-serif;
  --fourth-family: 'Merienda', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
}

/* Placeholder style для Tiptap */
.is-editor-empty::before {
  content: attr(data-placeholder);
   color: #595d62;
  font: 400 18px 'Manrope', sans-serif;
  float: left;
  height: 0;
  pointer-events: none;
  opacity: 0.7;
}



.tiptap.ProseMirror {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font: 400 18px 'Manrope', sans-serif;
  line-height: 1.4;
  padding: 12px 0 0 12px;
  box-sizing: border-box;
  white-space: pre-wrap;
  outline: none;
  caret-color: #070721;
  cursor: text;
  overflow-y: auto;
  transition: height 0.15s ease-in-out;
}

.tiptap.ProseMirror > p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.tiptap.ProseMirror p.is-editor-empty:first-child > br {
  display: none;
}


.ProseMirror:has(p.is-editor-empty:first-child:only-child)::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 12px;
  left: 12px;
  color: #999999;
  font: 400 18px 'Manrope', sans-serif;
  line-height: 1.4;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  display: block;
  box-sizing: border-box;
}